@import "_root.css";


.header {
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  caret-color: transparent;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

button {
  font-family: var(--subtitle-font);
  cursor: pointer;
}

.nav-list li {
  margin-left: 1rem;
  cursor: none;
}

.nav-list button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.nav-list button:hover {
  color: #0056b3;
}